@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #0F172A;
    font-weight: 400;
    font-size: 16px;
}

body {
    min-width: 320px;
}

@media screen and (max-width: 767px) {
    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../images/main-image-phone.png);
        background-size: auto 333px;
        background-repeat: no-repeat;
        background-position: top right;
        padding-bottom: 48px;
    }

    .header {
        width: 90%;
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 309px;
    }

    .header img {
        width: 81px;
    }

    .toggle {
        width: 40px;
        height: 40px;
    }

    .toggle img {
        width: 40px;
    }

    .content-desktop {
        display: none;
    }

    .main-section {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-main-section {
        padding: 0 5%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-main-section h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .text-main-section .margin-24 {
        font-size: 18px;
        margin-bottom: 24px;
    }

    .button {
        background-color: #FCD34D;
        text-decoration: none;
        padding: 24px 24px;
        border-radius: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-bottom: 64px;
    }

    .button p {
        font-size: 20px;
        font-weight: 600;
        color: #78350F;
    }

    .button img {
        width: 20px;
        margin-left: 16px;
    }

    .author-content .margin-16 {
        margin-bottom: 16px;
    }

    .description {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .description img {
        width: 64px;
        margin-right: 10px;
    }
    
    .name {
        font-size: 18px;
    }

    .color-gray {
        color: #475569;
    }

    .no-more-waste {
        margin: 48px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../images/pick-the-sun-background.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 85%;
    }

    .titles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        text-align: center;
        margin-bottom: 64px;
    }

    .featured-title {
        font-weight: 500;
        color: #D97706; 
    }

    .secondary-titles {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .image-no-more-waste {
        width: 90%;
    }

    .image-no-more-waste img {
        width: 100%;
    }
}